In [1]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.tsa.stattools import grangercausalitytests
import matplotlib.pyplot as plt

In [96]:
file_path = r"C:\Users\JUMIA-4237\Desktop\Thesisoption\arrest_SPQ.csv"

In [97]:
file_path2 = r"C:\Users\JUMIA-4237\Desktop\Thesisoption\clean_crime.csv"

In [98]:
crime =  pd.read_csv(file_path2)

In [99]:
arrest = pd.read_csv(file_path)

In [100]:
arrest.head(3)

,Type,Date,Part of a policing operation,Latitude,Longitude,Object of search,Outcome,Anything to threaten or harm anyone,Articles for use in criminal damage,Controlled drugs,Evidence of offences under the Act,Firearms,Offensive weapons,Stolen goods
0,Person search,2021-03-31T23:09:00+00:00,False,51.418969,-0.147822,Controlled drugs,Arrest,0,0,1,0,0,0,0
1,Person search,2021-03-31T23:17:00+00:00,False,51.498727,-0.105172,Evidence of offences under the Act,Arrest,0,0,0,1,0,0,0
2,Person and Vehicle search,2021-03-31T23:25:00+00:00,False,51.530467,-0.388379,Controlled drugs,Arrest,0,0,1,0,0,0,0

In [101]:
crime.head(3)

,Month,Longitude,Latitude,Anti-social behaviour,Bicycle theft,Burglary,Criminal damage and arson,Drugs,Other crime,Other theft,Possession of weapons,Public order,Robbery,Shoplifting,Theft from the person,Vehicle crime,Violence and sexual offences
0,2021-05-01,-0.664242,50.791718,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,2021-05-01,-0.664242,50.791718,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,2021-05-01,-1.258193,53.127960,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [102]:
arrest['Date'] = pd.to_datetime(arrest['Date'])

In [103]:
arrest['Month'] = arrest['Date'].dt.to_period('M').dt.to_timestamp()

C:\Users\JUMIA-4237\AppData\Local\Temp\ipykernel_5688\485474021.py:1: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  arrest['Month'] = arrest['Date'].dt.to_period('M').dt.to_timestamp()

In [104]:
arrest = arrest.drop(columns=['Date'])

In [105]:
arrest.head(3)

,Type,Part of a policing operation,Latitude,Longitude,Object of search,Outcome,Anything to threaten or harm anyone,Articles for use in criminal damage,Controlled drugs,Evidence of offences under the Act,Firearms,Offensive weapons,Stolen goods,Month
0,Person search,False,51.418969,-0.147822,Controlled drugs,Arrest,0,0,1,0,0,0,0,2021-03-01
1,Person search,False,51.498727,-0.105172,Evidence of offences under the Act,Arrest,0,0,0,1,0,0,0,2021-03-01
2,Person and Vehicle search,False,51.530467,-0.388379,Controlled drugs,Arrest,0,0,1,0,0,0,0,2021-03-01

In [106]:
crime_categories = [
    'Anti-social behaviour', 'Bicycle theft', 'Burglary', 'Criminal damage and arson', 'Drugs', 'Other crime',
    'Other theft', 'Possession of weapons', 'Public order', 'Robbery', 'Shoplifting', 'Theft from the person',
    'Vehicle crime', 'Violence and sexual offences'
]

In [107]:
crime['crime_count'] = crime[crime_categories].sum(axis=1)

In [108]:
crime_2 = crime[['Month', 'Longitude', 'Latitude', 'crime_count']]

In [109]:
crime_2.head(3)

        Month  Longitude   Latitude  crime_count
0  2021-05-01  -0.664242  50.791718            1
1  2021-05-01  -0.664242  50.791718            1
2  2021-05-01  -1.258193  53.127960            1

In [110]:
arrest_categories = ['Anything to threaten or harm anyone','Articles for use in criminal damage','Controlled drugs','Evidence of offences under the Act','Firearms','Offensive weapons','Stolen goods'
]

In [111]:
arrest['arrest_count'] = arrest[arrest_categories].sum(axis=1)

In [112]:
arrest_2 = arrest[['Month', 'Longitude', 'Latitude', 'arrest_count']]

In [113]:
arrest_2.head(3)

       Month  Longitude   Latitude  arrest_count
0 2021-03-01  -0.147822  51.418969             1
1 2021-03-01  -0.105172  51.498727             1
2 2021-03-01  -0.388379  51.530467             1

In [114]:
arrest_2['Month'] = pd.to_datetime(arrest_2['Month'])

C:\Users\JUMIA-4237\AppData\Local\Temp\ipykernel_5688\1510118486.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arrest_2['Month'] = pd.to_datetime(arrest_2['Month'])

In [115]:
arrest_2_filtered = arrest_2[arrest_2['Month'] >= '2021-05-01']

In [116]:
arrest_2_filtered.head(3)

          Month  Longitude   Latitude  arrest_count
2245 2021-05-01  -0.166423  51.491787             1
2246 2021-05-01   0.086084  51.489437             1
2247 2021-05-01  -0.105172  51.498727             1

In [117]:
crime_2['Month'] = pd.to_datetime(crime_2['Month'])
arrest_2_filtered['Month'] = pd.to_datetime(arrest_2_filtered['Month'])

C:\Users\JUMIA-4237\AppData\Local\Temp\ipykernel_5688\133381895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_2['Month'] = pd.to_datetime(crime_2['Month'])
C:\Users\JUMIA-4237\AppData\Local\Temp\ipykernel_5688\133381895.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arrest_2_filtered['Month'] = pd.to_datetime(arrest_2_filtered['Month'])

In [118]:
crime_2_reduced = crime_2.drop(columns=['Longitude', 'Latitude'])
arrest_2_filtered_reduced = arrest_2_filtered.drop(columns=['Longitude', 'Latitude'])

In [119]:
crime_file_path = r"C:\Users\JUMIA-4237\Desktop\Thesisoption\crime_2_reduced.csv"
arrest_file_path = r"C:\Users\JUMIA-4237\Desktop\Thesisoption\arrest_2_filtered_reduced.csv"

In [120]:
crime_2_reduced.to_csv(crime_file_path, index=False)
arrest_2_filtered_reduced.to_csv(arrest_file_path, index=False)

In [121]:
file_path_c = r"C:\Users\JUMIA-4237\Desktop\Thesisoption\crime_2_reduced.csv"

In [122]:
c_r =  pd.read_csv(file_path_c)

In [123]:
file_path_a = r"C:\Users\JUMIA-4237\Desktop\Thesisoption\arrest_2_filtered_reduced.csv"

In [124]:
a_r = pd.read_csv(file_path_a)

In [125]:
c_r.head(3)

        Month  crime_count
0  2021-05-01            1
1  2021-05-01            1
2  2021-05-01            1

In [126]:
a_r.head(3)

        Month  arrest_count
0  2021-05-01             1
1  2021-05-01             1
2  2021-05-01             1

In [127]:
c_r['Month'] = pd.to_datetime(c_r['Month'])

c_r_aggregated = c_r.groupby(c_r['Month'].dt.to_period('M')).agg({'crime_count': 'sum'}).reset_index()

c_r_aggregated['Month'] = c_r_aggregated['Month'].dt.to_timestamp()

In [128]:
c_r_aggregated.head()

       Month  crime_count
0 2021-05-01        92225
1 2021-06-01        95527
2 2021-07-01        94605
3 2021-08-01        89240
4 2021-09-01        90881

In [129]:
a_r['Month'] = pd.to_datetime(a_r['Month'])

a_r_aggregated = a_r.groupby(a_r['Month'].dt.to_period('M')).agg({'arrest_count': 'sum'}).reset_index()

a_r_aggregated['Month'] = a_r_aggregated['Month'].dt.to_timestamp()

In [130]:
a_r_aggregated.head(2)

       Month  arrest_count
0 2021-05-01          2336
1 2021-06-01          2028

In [131]:
crime['Month'] = pd.to_datetime(crime['Month'])
crime['Month-Year'] = crime['Month'].dt.to_period('M')

crime_new = crime.drop(columns=['Longitude', 'Latitude', 'Month'])

crime_new = crime_new.groupby('Month-Year').sum().reset_index()

In [132]:
crime_new.head(3)

,Month-Year,Anti-social behaviour,Bicycle theft,Burglary,Criminal damage and arson,Drugs,Other crime,Other theft,Possession of weapons,Public order,Robbery,Shoplifting,Theft from the person,Vehicle crime,Violence and sexual offences,crime_count
0,2021-05,26136,2056,4235,4734,3450,953,6814,381,5506,1768,3004,3155,7848,22185,92225
1,2021-06,27629,2110,4286,4903,3238,814,8167,408,5766,1911,2964,2889,8083,22359,95527
2,2021-07,26214,2196,4262,4698,3291,895,8283,433,5962,1877,2976,3163,7729,22626,94605

In [133]:
arrest['Month'] = pd.to_datetime(arrest['Month'])
arrest['Month-Year'] = arrest['Month'].dt.to_period('M')

arrest_new = arrest.drop(columns=['Longitude', 'Latitude', 'Month','Type', 'Part of a policing operation', 'Outcome'])

arrest_new = arrest_new.groupby('Month-Year').sum().reset_index()

In [134]:
arrest_new.head(3)

,Month-Year,Object of search,Anything to threaten or harm anyone,Articles for use in criminal damage,Controlled drugs,Evidence of offences under the Act,Firearms,Offensive weapons,Stolen goods,arrest_count
0,2021-03,Controlled drugsEvidence of offences under the...,0,0,2,1,0,0,0,3
1,2021-04,Offensive weaponsControlled drugsOffensive wea...,5,15,1231,139,22,493,336,2241
2,2021-05,Controlled drugsControlled drugsControlled dru...,21,26,1230,145,15,510,389,2336

In [135]:
arrest_new_filter = arrest_new[(arrest_new['Month-Year'] < '2021-03') | (arrest_new['Month-Year'] > '2021-04')]

In [136]:
arrest_new_filter.head()

,Month-Year,Object of search,Anything to threaten or harm anyone,Articles for use in criminal damage,Controlled drugs,Evidence of offences under the Act,Firearms,Offensive weapons,Stolen goods,arrest_count
2,2021-05,Controlled drugsControlled drugsControlled dru...,21,26,1230,145,15,510,389,2336
3,2021-06,Controlled drugsStolen goodsStolen goodsContro...,9,15,1008,117,18,523,338,2028
4,2021-07,Controlled drugsOffensive weaponsEvidence of o...,6,4,1055,101,15,468,352,2001
5,2021-08,Stolen goodsStolen goodsOffensive weaponsContr...,7,33,1081,110,31,509,377,2148
6,2021-09,Controlled drugsStolen goodsEvidence of offenc...,3,18,924,105,34,403,328,1815

In [137]:
filepath_crime_new = "C:\\Users\\JUMIA-4237\\Desktop\\Thesisoption\\crime_new.csv"
filepath_arrest_new_filter = "C:\\Users\\JUMIA-4237\\Desktop\\Thesisoption\\arrest_new_filter.csv"

In [138]:
crime_new.to_csv(filepath_crime_new, index=False)
arrest_new_filter.to_csv(filepath_arrest_new_filter, index=False)

In [139]:
merged_crime_arrest = pd.merge(c_r_aggregated, a_r_aggregated, on='Month', how='left')

In [140]:
merged_crime_arrest['arrest_count'].fillna(0, inplace=True)

In [141]:
merged_crime_arrest.head(2)

       Month  crime_count  arrest_count
0 2021-05-01        92225        2336.0
1 2021-06-01        95527        2028.0

In [142]:
max_lag = 5

In [148]:
crime_arrest_cart = pd.merge(crime_new, arrest_new_filter, on="Month-Year")

In [149]:
crime_arrest_cart.replace(0, 'A month without data', inplace=True)

In [150]:
crime_arrest_cart.head(3)

,Month-Year,Anti-social behaviour,Bicycle theft,Burglary,Criminal damage and arson,Drugs,Other crime,Other theft,Possession of weapons,Public order,...,crime_count,Object of search,Anything to threaten or harm anyone,Articles for use in criminal damage,Controlled drugs,Evidence of offences under the Act,Firearms,Offensive weapons,Stolen goods,arrest_count
0,2021-05,26136,2056,4235,4734,3450,953,6814,381,5506,...,92225,Controlled drugsControlled drugsControlled dru...,21,26,1230,145,15,510,389,2336
1,2021-06,27629,2110,4286,4903,3238,814,8167,408,5766,...,95527,Controlled drugsStolen goodsStolen goodsContro...,9,15,1008,117,18,523,338,2028
2,2021-07,26214,2196,4262,4698,3291,895,8283,433,5962,...,94605,Controlled drugsOffensive weaponsEvidence of o...,6,4,1055,101,15,468,352,2001

In [151]:
crime_arrest_cart = crime_arrest_cart.drop(columns=["Object of search"])

In [152]:
crime_arrest_cart.head()

,Month-Year,Anti-social behaviour,Bicycle theft,Burglary,Criminal damage and arson,Drugs,Other crime,Other theft,Possession of weapons,Public order,...,Violence and sexual offences,crime_count,Anything to threaten or harm anyone,Articles for use in criminal damage,Controlled drugs,Evidence of offences under the Act,Firearms,Offensive weapons,Stolen goods,arrest_count
0,2021-05,26136,2056,4235,4734,3450,953,6814,381,5506,...,22185,92225,21,26,1230,145,15,510,389,2336
1,2021-06,27629,2110,4286,4903,3238,814,8167,408,5766,...,22359,95527,9,15,1008,117,18,523,338,2028
2,2021-07,26214,2196,4262,4698,3291,895,8283,433,5962,...,22626,94605,6,4,1055,101,15,468,352,2001
3,2021-08,23330,2044,4403,4609,3252,767,8225,404,4892,...,20153,89240,7,33,1081,110,31,509,377,2148
4,2021-09,21904,2189,4445,4554,3031,876,8969,406,5261,...,21640,90881,3,18,924,105,34,403,328,1815

In [153]:
crime_arrest_cart = crime_arrest_cart.drop(columns=["Public order","Violence and sexual offences"])

In [154]:
crime_arrest_cart.head()

,Month-Year,Anti-social behaviour,Bicycle theft,Burglary,Criminal damage and arson,Drugs,Other crime,Other theft,Possession of weapons,Robbery,...,Vehicle crime,crime_count,Anything to threaten or harm anyone,Articles for use in criminal damage,Controlled drugs,Evidence of offences under the Act,Firearms,Offensive weapons,Stolen goods,arrest_count
0,2021-05,26136,2056,4235,4734,3450,953,6814,381,1768,...,7848,92225,21,26,1230,145,15,510,389,2336
1,2021-06,27629,2110,4286,4903,3238,814,8167,408,1911,...,8083,95527,9,15,1008,117,18,523,338,2028
2,2021-07,26214,2196,4262,4698,3291,895,8283,433,1877,...,7729,94605,6,4,1055,101,15,468,352,2001
3,2021-08,23330,2044,4403,4609,3252,767,8225,404,1935,...,8840,89240,7,33,1081,110,31,509,377,2148
4,2021-09,21904,2189,4445,4554,3031,876,8969,406,2252,...,9186,90881,3,18,924,105,34,403,328,1815

In [161]:
import statsmodels.api as sm

crime_arrest_cart = crime_arrest_cart.apply(pd.to_numeric, errors='coerce')
crime_arrest_cart = crime_arrest_cart.fillna(crime_arrest_cart.mean())

relationships = {
    'Criminal damage and arson': 'Articles for use in criminal damage',
    'Drugs': 'Controlled drugs',
    'Possession of weapons': 'Offensive weapons',
    'Anything to threaten or harm anyone': 'Offensive weapons',
    'Theft from the person': 'Stolen goods',
    'Robbery': 'Stolen goods',
    'Other theft': 'Stolen goods',
    'Shoplifting': 'Stolen goods',
    'Bicycle theft': 'Stolen goods',
    'Burglary': 'Stolen goods',
    'Violence and sexual offences': 'Evidence of offences under the Act'
}

def perform_granger_test(df, dependent, independent, max_lag=2):
    try:
        test_result = sm.tsa.stattools.grangercausalitytests(df[[dependent, independent]], max_lag, verbose=False)
        p_values = [round(test_result[lag][0]['ssr_ftest'][1], 4) for lag in range(1, max_lag+1)]
        significant = any(p < 0.05 for p in p_values)
        return p_values, significant
    except (KeyError, ValueError) as e:
        return None, None

results = []
for dep, ind in relationships.items():
    p_values, significant = perform_granger_test(crime_arrest_cart, dep, ind)
    if p_values is not None:
        results.append((dep, ind, p_values, significant))
    else:
        results.append((dep, ind, 'Insufficient data', False))

results_df = pd.DataFrame(results, columns=['Dependent', 'Independent', 'P-values (lags 1-2)', 'Significant'])

C:\ProgramData\anaconda3\Lib\site-packages\statsmodels\tsa\stattools.py:1488: FutureWarning: verbose is deprecated since functions should not print results
  warnings.warn(
C:\ProgramData\anaconda3\Lib\site-packages\statsmodels\tsa\stattools.py:1488: FutureWarning: verbose is deprecated since functions should not print results
  warnings.warn(
C:\ProgramData\anaconda3\Lib\site-packages\statsmodels\tsa\stattools.py:1488: FutureWarning: verbose is deprecated since functions should not print results
  warnings.warn(
C:\ProgramData\anaconda3\Lib\site-packages\statsmodels\tsa\stattools.py:1488: FutureWarning: verbose is deprecated since functions should not print results
  warnings.warn(
C:\ProgramData\anaconda3\Lib\site-packages\statsmodels\tsa\stattools.py:1488: FutureWarning: verbose is deprecated since functions should not print results
  warnings.warn(
C:\ProgramData\anaconda3\Lib\site-packages\statsmodels\tsa\stattools.py:1488: FutureWarning: verbose is deprecated since functions should not print results
  warnings.warn(
C:\ProgramData\anaconda3\Lib\site-packages\statsmodels\tsa\stattools.py:1488: FutureWarning: verbose is deprecated since functions should not print results
  warnings.warn(
C:\ProgramData\anaconda3\Lib\site-packages\statsmodels\tsa\stattools.py:1488: FutureWarning: verbose is deprecated since functions should not print results
  warnings.warn(
C:\ProgramData\anaconda3\Lib\site-packages\statsmodels\tsa\stattools.py:1488: FutureWarning: verbose is deprecated since functions should not print results
  warnings.warn(
C:\ProgramData\anaconda3\Lib\site-packages\statsmodels\tsa\stattools.py:1488: FutureWarning: verbose is deprecated since functions should not print results
  warnings.warn(

In [162]:
results_df

,Dependent,Independent,P-values (lags 1-2),Significant
0,Criminal damage and arson,Articles for use in criminal damage,"[0.3253, 0.1925]",False
1,Drugs,Controlled drugs,"[0.7779, 0.7115]",False
2,Possession of weapons,Offensive weapons,"[0.6188, 0.7488]",False
3,Anything to threaten or harm anyone,Offensive weapons,"[0.6289, 0.618]",False
4,Theft from the person,Stolen goods,"[0.7381, 0.2767]",False
5,Robbery,Stolen goods,"[0.299, 0.4313]",False
6,Other theft,Stolen goods,"[0.4566, 0.0293]",True
7,Shoplifting,Stolen goods,"[0.0378, 0.2982]",True
8,Bicycle theft,Stolen goods,"[0.9091, 0.3879]",False
9,Burglary,Stolen goods,"[0.0236, 0.1475]",True
10,Violence and sexual offences,Evidence of offences under the Act,Insufficient data,False